.container {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
 
   & .label {
    font-size: 14px;
    color: rgb(10, 10, 10);
    margin-bottom: 5px;
    font-weight: 600;

   }
  & .select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    background: #fff;
    color: rgb(10, 10, 10);
    padding: 7px 20px;
    /* border-radius: 8px 8px 0px 0px; */
    cursor: pointer;
    width: 100%;
    border: 1px solid #E2E2E2;
  }
  /* Select with search */
  & .list {
    height: 0px;
    overflow: hidden;
  }
  & .listActive {
    position: absolute;
    width: 100%;
    background: #fff;
    list-style: none;
    padding: 10px 20px;
    border: 1px solid #E2E2E2;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
    z-index: 999;
    transition: all 0.1s;
    max-height: 200px;
    overflow-y: scroll;

    & .option {
      color: rgb(8, 8, 8);
      font-size: 16px;
      padding: 10px 20px;
      cursor: pointer;

    }
     & .option:hover {
      color: #f1f1f1;
      font-weight: bold;
      background: #1db2ff;
      border-radius: 8px;
    }
  }
}
