.container {
  padding: 0px 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e2e2e2;

}

/* sub title */
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding:0px 10px;
}
.item h5 {
  font-size:14px;
  color: #333;
}
.item .icon {
  border-radius: 6px;
  background:#F1F1F1;
  padding: 8px;
  border:none;
}
/* Style the icon with svg */



/* Style the icon with svg */
.itemSelected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding:0px 10px;
  cursor: pointer;
  color: #1DB2FF;
}



.itemSelected .icon {
  border-radius: 6px;
  background:#1DB2FF;
  padding: 8px;
  border:none;

}


.itemSelected h3 {
  color:#1DB2FF;
  font-size:16px

}



.subTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.subTitleInput {
  width: 300px;
  height: 50px;
  position: relative;
}

.subTitleInput input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  padding-left: 40px;
}

.subTitleIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
}

.subTitle .addBtn {
  border-radius: 8px;
  background: #1db2ff;
  width: 140px;
  height: 50px;
  padding: 15px 10px;
  color: #fff;
  border: none;
  cursor: pointer;

}

.subTitle .delBtn {
  border-radius: 10px;
  background: #ffffff;
  width: 170px;
  height: 50px;
  padding: 12px 20px;
  border: 1px solid #CF2222 !important;
  border: none;
  cursor: pointer;
  font-size: 16px;

}
