.container {
  padding: 0px 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
}

/* sub title */
.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.item .icon {
  border-radius: 6px;
  background:#F1F1F1;
  padding: 8px;
  border:none;
}
/* Style the icon with svg */
.icon svg {
  width: 24px; /* Set the width */
  height: 24px; /* Set the height */
  color: black; /* Set the color */

}


/* Style the icon with svg */
.itemSelected {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.itemSelected .icon {
  border-radius: 6px;
  background:#1DB2FF;
  padding: 8px;
  border:none;
  opacity: .5;
}
.itemSelected svg{
  width: 24px; /* Set the width */
  height: 24px; /* Set the height */
  color: white; /* Set the color */
}

.itemSelected h3 {
  color:#1DB2FF;
  opacity: .5;
}
