.action {
  display: flex !important;
  align-items: center;
  justify-content: space-evenly !important;

  margin: auto;
  padding: 20px 0px !important;
}
.action button {
  width: 24px;
  height: 24px;
  border: none;
}

/*  ///////////////////////////////////////////////////////////////////////*/
/* sub title */

.subTitle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0px;
  padding: 0px 20px;
  width: calc(73vw);
}




.addContainer {
  position: relative;
  width: max-content;
  height: max-content;

  & .addBtn {
    width: 191px;
    height: 40px;
    border-radius: 10px 10px 0px 0px;
    background: #1db2ff;
    padding: 12px 20px;
    border: none;
    color: #fff;
    background: #1db2ff;
  }
  & .addList {
    width: 191px;
    border-radius: 0px 0px 16px 16px;
    background: #fff;
    box-shadow: 0px 2px 25px 0px rgba(43, 109, 245, 0.1);
  }
}

.addList li {
  list-style: none;
  padding: 10px 0px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  cursor: pointer;
}


.addList li button {
  margin: 0;
  border: none;
  background-color: #fff;
  height: 100%;
  padding: 15px 20px;
  text-align: left;
  cursor: pointer;
}


.cancelBtn,.confirmBtn {
  border-radius: 10px;
  border: 1px solid #1db2ff;
  background-color: #fff;
  padding: 12px 30px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cancelBtn:hover,.confirmBtn:hover {
  color: rgb(255, 255, 255);
  background: #1db2ff;
}

.tableCell {
font-size: 14px !important;
font-weight: 600 !important;
}

.assignTo {
display: flex !important;
padding: 30px 0px !important;
align-items: center;
justify-content: flex-start;
gap: 10px;
height: 100px !important;





}

.assignTo span {
  font-weight: 600 !important;

}
.assignTo img {
 height: 40px;
 width: 40px;
 margin: 0;
}
