.containerInput {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column !important;
  gap: 5px;
  width: 100%;
  margin-bottom: 20px !important;
}
.containerInput ::placeholder {
  color: #d4d2d2;
  font-size: 14px;
}
.containerInput label {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 600;
}

.containerInput input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  background: #fff;
  height: 45px;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #e2e2e2;
}
.containerInput textarea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  background: #fff;
  height: max-content;
  padding: 20px 20px;
  font-size: 14px;
  resize: none;
  border: 1px solid #e2e2e2;
}
.containerInput select {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  background: #fff;
  height: 45px;
  padding: 10px 20px !important;
  font-size: 14px;
  border: 1px solid #e2e2e2;
  font-size: 1em;
  font-size-adjust: 0.3;
}


.containerInput .image {
  background: #000;
}

/* overlay styling  */

.overLayContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  & .overLayContent {
    position: absolute;
    display: flex;
    width: 500px;
    height: max-content;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(4, 189, 250);
  }
}

.overLayClose {
  position: absolute;
  right: -10px;
  top: -10px;
  background: #f63e3ee5;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  font-size: 30px !important;
  color: white !important;
  cursor: pointer;
}
