.container {
  width: 100%;
  & .addImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    & .fileInput {
      width: 100%;
      display: none;
    }
  }
}
.radioContainer {
  display: flex !important;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.nextAndPrev {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.nextAndPrev button {
  border-radius: 10px;
  border: 2px solid #1db2ff !important;
  width: 101px;

  padding: 10px 20px;
  color: black;
  border: none;
  cursor: pointer;
  background: white;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.nextAndPrev button:hover {

  color: rgb(255, 255, 255);
  background: #1db2ff;
}
.nextAndPrev .hideBtn {
  visibility: hidden;
}


.amenities {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;

}
.amenities button {
  border-radius:10px;
  border: 1px solid #E2E2E2;
  padding: 10px 20px;

}

.amenities .amenitiesIn {
  color: #FFF !important;
  background: #1DB2FF !important;
}
.amenities .amenitiesOut {
  color: #000 !important;
  background: #fff !important;
}
