.itemFlex {
  height: 100%;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: flex-start !important;
  padding: 10px 0px;
  gap: 10px;
  flex-direction: row !important;
}
.itemFlex .icon {
  width: 20px;
  height: 20px;
  border: none;
}
.itemFlex button {
 background: transparent;
  border: none;
}

/*  ///////////////////////////////////////////////////////////////////////*/
/* sub title */

.subTitle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 20px;
  width: calc(73vw);
  height: 50px;
}

.subTitleInput {
  width: 470px;
  height: 45px;
  position: relative;
}
.subTitleInput input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  padding-left: 40px;
}
.subTitleInput input::placeholder {
  color: #ccc;

}
.subTitleIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
}

/* .subTitle button {
  border-radius: 10px;
  background: #1db2ff;
  width: 170px;
  height: 40px;
  padding: 12px 30px;
  color: #fff;
  border: none;
  cursor: pointer;
} */
.right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;

  & .selectLeads {
    width: 200px;
  }
}
.addContainer {
  position: relative;
  width: max-content;
  height: max-content;

  & .addBtn {
    width: 191px;
    height: 45px;
    background: #1db2ff;
    padding: 12px 20px;
    border: none;
    color: #fff;
    background: #1db2ff;
    position: relative;
  }
  & .addList {
   position: absolute;
   width: 100%;
   top:100%;
   left: 0;
   z-index: 999;
    border-radius: 0px 0px 16px 16px;
    background: #fff;
    box-shadow: 0px 2px 25px 0px rgba(43, 109, 245, 0.1);
  }
}

.addList li {
  list-style: none;
  padding: 10px 0px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  cursor: pointer;
}

.addList li button {
  margin: 0;
  border: none;
  background-color: #fff;
  height: 100%;
  padding: 15px 20px;
  text-align: left;
  cursor: pointer;
}


/* table style */
.itemStyleText {
  color: #3d3d3d;
  font-weight: 600;
  font-size: 14px;

}
