@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,300&display=swap");

html,
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  text-decoration: none;
}
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: "Public Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue";
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*="language-"]):before,
code:not([class*="language-"]):after {
  content: "`";
}
code[class*="language-"] {
  padding: 0;
}

.rbc-event {
  padding: 2px !important;
  background-color: #f2ebeb;
  border: 1px solid #f84c03 !important;
  box-shadow: -1px 0px 8px rgba(17, 17, 17, 0.25);
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #e6dfdf;
  }
}
.rbc-day-bg {
  background-color: #1db4ff75 !important;
  padding: 5px;
}

.rbc-button-link {
  color: #010101 !important;
  font-weight: 600 !important;
  font-size: 12px !important;
}

.rbc-active {
  background-color: #1db2ff !important;
  color: #fff !important;
}

.rbc-toolbar-label {
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #010101 !important;
}

.rbc-header {
  background-color: #0370a3b4 !important;
  color: #fff !important;
}
